@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
nav{
  background:whitesmoke;
  height: 80px;
  width: 100%;
}
label.logo{
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color:black;
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a:hover{
  background:lightpink;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;

}
span{
  color: red;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
.section5{
    display: flex;
    flex-direction: row;
    position: static;
    justify-content: space-evenly;
    height: 50vh;
    background-color: rgb(10, 10, 9);
}
#div14{
    width: 30%;
    height: 40vh;
    margin: 10px;
    /* border: 2px solid white; */
    padding: 70px;
}
#div15{
    width: 30%;
    height: 50vh;
    margin: 10px;
    /* border: 3px solid white; */
    padding: 10px 12px;
    
    
}
#dl1{
    margin: 10px;
    padding: 20px 22px;
    line-height: 40px;
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
}
#dl1 a{
    color: white;
}
#dl1 a:hover{
    color: aqua;
    font-size: 14px;
}
.footer1{
    height: 10vh;
    background-color: rgb(10, 10, 9);
    color: white;
    padding-left: 70px;
    font-size: 12px;
    width: 100%;
}
.footer1 a{
    color: white;
}
.container1{
    position: static;
    /* top: %; */
    left:80%;
    transform:translate(-50%,-50%);
    width: 25%;
    max-width: 1200px;
    text-align: center;
    float: right;
}
.container1 .btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: black;
    box-shadow: 0 5px 15px -5px #aaa;
    margin: 10px;
    border-radius: 30%;
    overflow: hidden;
    position: relative;
    color: #42d2ff;

}
.container1 .btn i{
    position: relative;
    z-index: 4;
    line-height: 90px;
    font-size: 26px;
    transition: 0.3s ease-in-out;
}
.container1 .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(#00c6ff,#0072ff);
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}
.container1 .btn:hover{
    color: #fff;
    transform: scale(1.3);
}
.container1 .btn:hover::before{
    animation: onHover 0.7s 1;
    left: -10%;
    top: -10%;
}
@keyframes onHover{
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
}
.section1{
    width: 100%;
    height:116vh;
}
.section2{
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
}
.section3{
    height: 116vh;
}
.section4{
    width: 100%;
    height: 100vh;
    
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    background-color: black; 
    
}
#b3{
     margin-right: 80px;
}
#b4{
    width: 20%;
    height: 24vh;
    
    margin-top: 100px;
    margin-left: 10px;
    text-align: center;
    color: antiquewhite;
    position: relative;
    top: 353px;
}

.id1{
    text-align: center;
    margin-top: 15px;
}
    

#box{
    width: 100%;
    
    height: 115vh;
    /* margin: 10px 22px; */

}

.heading{
    display:flex;
    width: 50%;
    height: 20vh;
    font-size: 40px;
    margin: 20px;
    padding: 15px;
    position: relative;
    top:-360px;
    left: 56px;
    color: beige;
}
.h1{
    display: flex;
    width: 50%;
    height: 20vh;
    font-size: 20px;
    color: aqua;
    margin: 20px;
    position: relative;
    top: -228px;
    left: 70px;
}

.b2{
    display: flex;
    margin-top: 200px;
    position: static;
    left:260px ;
    font-size: 30px;
    text-align: center;
    
}
.b3{
    display: flex;
    margin-top: 50px;
    position: static;
    left:260px ;
    font-size: 20px;
    text-align: center;
    
}
.pho{
    width: 31%;
    position: relative;
    bottom: 330px;
    left: 77px;
}

